<!doctype html>
<title>{% block title %}{% endblock %} - Gourmet Web</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
<nav>
  <h1><a href="{{ url_for('recipe.index') }}">Gourmet Web</a></h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
