{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ recipe['title'] }}{% endblock %}</h1>
  {% if recipe['link'] %}
    <div style='float:right;'><a href="{{ recipe['link'] }}">Source</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div style='padding-bottom:1ex;'>
  {% if recipe['cuisine'] %}
    {{ recipe['cuisine'] }}
  {% endif %}
  {% if recipe['category'] %}
    {{ recipe['category'] }}
  {% endif %}
  </div>

  <div>Rating:
    {% if recipe['rating_pretty'] %}
      {{ recipe['rating_pretty'] }}
    {% else %}
      <i>unrated</i>
    {% endif %}
  </div>

  <div>Yields:
    {% if recipe['yields'] %}
      {{ recipe['yields_pretty'] }} {{ recipe['yields_unit'] }}
    {% else %}
      <i>unspecified</i>
    {% endif %}
  </div>

  {% if recipe['preptime_pretty'] %}
  <div>Prep Time: {{ recipe['preptime_pretty'] }}</div>
  {% endif %}

  {% if recipe['cooktime_pretty'] %}
    <div>Cook Time: {{ recipe['cooktime_pretty'] }}</div>
  {% endif %}

  <div class='ingredients'><h2>Ingredients</h2>
    {% for ingredient_group in recipe['ingredients_pretty'] %}
      {% if ingredient_group[0] %}
        <div class='ingredient-group'><h3>{{ ingredient_group[0] }}</h3>
      {% endif %}

      {% for ingredient in ingredient_group[1] %}
        <div class='item'>
          <input type='checkbox' name='ingredient-{{ ingredient_group[0] }}-{{ loop.index }}' id='ingredient-{{ ingredient_group[0] }}-{{ loop.index }}' onchange='visualizeCheck(this);' />
          <label name='ingredient-{{ ingredient_group[0] }}-{{ loop.index }}' for='ingredient-{{ ingredient_group[0] }}-{{ loop.index }}'{% if ingredient['optional'] %} class='optional'{% endif %}>
            {{ ingredient['ingredient'] }}
            {% if ingredient['optional'] %}
            (optional)
            {% endif %}
          </label>
        </div>
      {% endfor %}

      {% if ingredient_group[0] %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <hr />
  <div class='instructions'><h2>Instructions</h2>
    {% for instruction in recipe['instructions_pretty'] %}
      <div class='item'>
        <input type='checkbox' name='instruction-{{ loop.index }}' id='instruction-{{ loop.index }}' onchange='visualizeCheck(this);' />
          <label name='instruction-{{ loop.index }}' for='instruction-{{ loop.index }}'>
            {{ instruction }}
          </label>
      </div>
    {% endfor %}
  </div>
  <hr />
  {% if recipe['notes_pretty'] %}
    <div class='notes'><h2>Notes</h2>
      {% for note in recipe['notes_pretty'] %}
        <div class='item'>
          <input type='checkbox' name='note-{{ loop.index }}' id='note-{{ loop.index }}' onchange='visualizeCheck(this);' />
            <label name='note-{{ loop.index }}' for='note-{{ loop.index }}'>
              {{ note }}
            </label>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
